{% extends "core/plantilla.html" %}
{% load static %}

{% block head %}
    <head>
        <title>Punto de Venta - Panel</title>
        <link rel="stylesheet" href="{% static 'core/css/venta.css' %}">
    </head>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="content-frame">
            <div class="content-header gestion-header">
                <div class="header-title">
                    <h2>📄 Gestión de Comandas</h2>
                </div>
                <div class="gestion-actions">
                    <button type="button" class="boton-agregar" onclick="abrirModal()">Nueva Comanda</button>
                    <a href="{% url 'comandas_eliminadas' %}" class="boton-agregar">Comandas Eliminadas</a>
                    <a href="{% url 'reportes' %}" class="boton-agregar">Reportes</a>
                    <button type="button" class="boton-cerrar-caja" onclick="mostrarModalCerrarCaja()">Cerrar Caja</button>
                </div>
            </div>

            <!-- Modal para verificación de superusuario al cerrar caja -->
            <div id="modalCerrarCaja" class="modal">
                <div class="modal-contenido">
                    <span class="cerrar" onclick="cerrarModalCerrarCaja()">&times;</span>
                    <h3>Verificación de Administrador</h3>
                    <p>Ingrese credenciales para cerrar la caja:</p>

                    <div class="form-group">
                        <label for="adminCierre">Nombre Administrador:</label>
                        <input type="text" id="adminCierre">
                    </div>

                    <div class="form-group">
                        <label for="passCierre">Contraseña:</label>
                        <input type="password" id="passCierre">
                    </div>

                    <div id="mensaje-error-cierre" class="mensaje-error" style="display:none;"></div>

                    <button onclick="verificarYConfirmarCierre()" class="boton-agregar">Verificar y Cerrar Caja</button>
                </div>
            </div>

            <!-- MODAL DETALLE COMANDA CERRADA -->
            <div id="modalDetalleCerrada" class="modal" style="display:none;">
                <div class="modal-contenido">
                    <span class="cerrar" onclick="cerrarModalDetalleCerrada()">&times;</span>
                    <div id="detalleCerradaContenido"></div>
                </div>
            </div>

            <!-- Modal Verificar y Eliminar Comanda -->
            <div id="modalEliminarComanda" class="modal">
                <div class="modal-eliminar">
                    <span class="cerrar" onclick="cerrarModalEliminar()">&times;</span><!-- -->
                    <h3>Verificación de Administrador</h3>
                    <p>Ingrese credenciales para eliminar la comanda:</p>

                    <div class="form-group">
                    <label for="adminEliminar">Usuario Administrador:</label>
                    <input type="text" id="adminEliminar" autocomplete="off">
                    </div>

                    <div class="form-group">
                    <label for="passEliminar">Contraseña:</label>
                    <input type="password" id="passEliminar" autocomplete="off">
                    </div>

                    <div class="form-group">
                    <label for="motivoEliminar">Motivo de eliminación:</label>
                    <textarea id="motivoEliminar" rows="3" placeholder="Ej: Error al ingresar la orden"></textarea>
                    </div>

                    <div id="errorEliminar" class="mensaje-error" style="display: none;"></div>

                    <button onclick="verificarYEliminarComanda()">Verificar y Eliminar</button>
                </div>
            </div>
            <div class="venta-panel">
                <!-- Comandas Abiertas -->
                <div class="seccion-comandas">
                    <div class="titulo">🟡 Comandas Abiertas</div>
                    <div class="contenedor-burbujas">
                        {% for comanda in comandas %}
                            {% if comanda.estado == 'abierta' %}
                                <div class="burbuja" data-id="{{ comanda.id }}" onclick="abrirEdicionComanda('{{ comanda.id }}')">
                                    <div class="estado estado-pendiente">Pendiente</div>
                                    <div>Cliente: {{ comanda.nombre_cliente }}</div>
                                    <div class="numero-comanda">#{{ comanda.id }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Comandas Cerradas -->
                <div class="seccion-comandas">
                    <div class="titulo">🟢 Comandas Cerradas</div>
                    <div class="contenedor-burbujas">
                        {% for comanda in comandas %}
                            {% if comanda.estado == 'cerrada' %}
                                <div class="burbuja" data-id="{{ comanda.id }}" onclick="abrirDetalleCerrada('{{ comanda.id }}')">
                                    <div class="estado estado-pagado">Pagado</div>
                                    <div>Cliente: {{ comanda.nombre_cliente|default:"No asignado" }}</div>
                                    <div class="numero-comanda">#{{ comanda.id }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVA COMANDA -->
    <div id="modalComanda" class="modal" style="display: none;">
        <div class="modal-contenidoventa">
            <span class="cerrar" onclick="cerrarModal()">&times;</span>
            <div style="flex: 1; padding: 30px; overflow-y: auto; display: flex; flex-direction: column; min-width: 0;">
                <div class="columna-izquierda">
                    <!-- Encabezado fijo -->
                    <div class="sticky-header-comanda">
                        <h2 class="content-header">Editando Comanda</h2>
                        <div class="info-encabezado">
                            <p><strong>Fecha y Hora:</strong> <span id="fechaHora"></span></p>
                            <p><strong>Empleado:</strong> <span id="nombreEmpleado">{{ user.username }}</span></p>
                        </div>
                    </div>

                    <!-- Contenido scrollable -->
                    <div class="contenido-formulario-comanda">
                        <!-- Resto de inputs -->
                        <label for="cliente">Nombre del Cliente</label>
                        <input type="text" id="cliente" placeholder="Ej: Juan Pérez" style="margin-bottom: 10px;">

                        <div style="display: flex; gap: 20px; margin-bottom: 0; flex: 1;">
                            <div style="display: flex; flex-direction: column; width: 250px;">
                                <label for="servicio">Tipo de Servicio</label>
                                <select id="servicio" style="margin-bottom: 10px; width: 100%;">
                                    <option value="servir">🍽️ Servir en local</option>
                                <option value="delivery">🚴 Delivery</option>
                                <option value="reserva">📅 Reserva</option>
                                </select>
                            </div>

                            <div style="display: flex; flex-direction: column; width: 250px;">
                                <label for="metodo_pago">Método de Pago</label>
                                <select id="metodo_pago" onchange="mostrarCamposPago()" style="margin-bottom: 10px; width: 100%;">
                                    <option value="efectivo">💵 Efectivo</option>
                                    <option value="tarjeta_credito">💳 Tarjeta Crédito</option>
                                    <option value="tarjeta_debito">💳 Tarjeta Débito</option>
                                    <option value="transferencia">📄 Transferencia</option>
                                    <option value="mixto">Mixto (💵Efectivo + 💳Tarjeta + 📄Transferencia)</option>
                                </select>
                            </div>
                        </div>

                        <div id="pago_mixto_campos" style="display: none; margin-bottom: 15px;">
                            <label for="monto_efectivo">Monto en Efectivo</label>
                            <input type="number" id="monto_efectivo" min="0" step="10" value="0" style="width: 100%; margin-bottom: 5px;">
                            
                            <label for="monto_tarjeta_debito">Monto en Tarjeta Debito</label>
                            <input type="number" id="monto_tarjeta_debito" min="0" step="10" value="0" style="width: 100%; margin-bottom: 5px;">

                            <label for="monto_tarjeta_credito">Monto en Tarjeta Credito</label>
                            <input type="number" id="monto_tarjeta_credito" min="0" step="10" value="0" style="width: 100%; margin-bottom: 5px;">

                            <label for="monto_transferencia">Monto en Transferencia</label>
                            <input type="number" id="monto_transferencia" min="0" step="10" value="0" style="width: 100%; margin-bottom: 5px;">
                        </div>
                        
                        <label for="notaComanda" class="label-nota">Nota de la Comanda</label>
                        <textarea id="notaComanda" placeholder="Ej: x1 Hamburguesa sin mayonesa, x1 italiano sin palta, etc..." class="textarea-nota"></textarea>

                        <h4>Detalle de Productos</h4>
                        <ul id="detalle" style="flex-grow: 1; overflow-y: auto; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; min-height: 150px;"></ul>
                    </div>

                    <!-- Footer fijo -->
                    <div class="footer-modal-comanda">
                        <h4>Total: $<span id="total">0</span></h4>
                        <div class="grupo-botones">
                            <button type="button" class="boton-modal amarillo" onclick="guardarComanda('abierta')">Guardar Comanda</button>
                            <button type="button" class="boton-modal verde" onclick="guardarComanda('cerrada')">Cerrar Comanda</button>
                            <button type="button" class="boton-modal rojo" id="botonEliminarComanda" onclick="eliminarComandaDesdeModal()" style="display: none;">Eliminar Comanda</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="width: 1px; background-color: rgba(0,0,0,0.1); margin: 10px 15px;"></div>
            <div style="flex: 1; display: flex; flex-direction: column; overflow-y: auto; padding: 30px;">
                <h2 class="sticky-header-comanda">Productos</h2>
                    <div class="barra-busqueda sticky-search">
                        <input type="text" id="busquedaProducto" placeholder="Buscar producto...">
                        <span class="icono-busqueda">🔍</span>
                    </div>
                    <div id="categoriasSelector" class="categorias-selector sticky-header-comanda">
                        <button class="categoria-btn activo" data-categoria="todas" onclick="filtrarPorCategoria('todas')">Todas</button>
                        {% for categoria in categorias %}
                            <button class="categoria-btn" data-categoria="{{ categoria.id }}" onclick="filtrarPorCategoria('{{ categoria.id }}')">
                                {{ categoria.nombre }}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="contenido-scroll" id="contenidoScroll">
                    <div id="productosBurbuja" style="display: flex; flex-wrap: wrap; gap: 10px;">
                        {% for producto in productos %}
                        <div class="burbuja-producto"
                            data-id="{{ producto.id }}"
                            data-precio="{{ producto.precio }}"
                            data-categoria="{{ producto.categoria.id }}">
                            {% if producto.imagen %}
                                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-productov">
                            {% else %}
                                <img src="{% static 'core/img/default.jpg' %}" alt="Sin imagen" class="img-productov">
                            {% endif %}
                            <div class="nombre-producto">{{ producto.nombre }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Modal de Superusuario (fuera de JS y del detalle dinámico) -->
        </div>
    </div>
   
    <div id="modalSuperAdmin" class="modal">
        <div class="modal-contenido">
            <span class="cerrar" onclick="cerrarModalSuperAdmin()">&times;</span>
            <h3>Verificación de Administrador</h3>
            <p>Ingrese credenciales para cerrar la caja:</p>

            <div class="form-group">
                <label for="adminCierre">Nombre Administrador:</label>
                <input type="text" id="usernameSuperAdmin" placeholder="Usuario" >
            </div>

            <div class="form-group">
                <label for="passCierre">Contraseña:</label>
                <input type="password" id="passwordSuperAdmin" placeholder="Contraseña">
            </div>

            <div id="mensaje-error-cierre" class="mensaje-error" style="display:none;"></div>

            <div style="display:flex; justify-content:space-between;">
                <button onclick="confirmarSuperadmin()" class="boton-agregar">Confirmar</button>
                <button onclick="cerrarModalSuperAdmin()" class="boton-agregar" style="background-color: #dc3545;" >Cancelar</button>
            </div>
        </div>
    </div>
    
    <script>
    window.verificarSuperusuarioUrl = "{% url 'verificar_superusuario' %}";
    window.csrfToken = "{{ csrf_token }}";
    window.defaultImageUrl = "{% static 'core/img/default.jpg' %}";
    </script>
    <script src="{% static 'core/js/venta.js' %}"></script>
{% endblock %}
